body {
  background-color: #222;
}
p {
  color: #eee;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 64px;
}
#clock {
  font-size: 200px;
  line-height: 240px;
}
.score {
  font-size: 120px;
}
.homeTeam {
  background: #333;
}
.awayTeam {
  background: #444;
}